PORT=5000
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=krsh_innovations
DB_PORT=3306

# Contact Recipient
COMPANY_EMAIL=Krsh.Innovations@gmail.com
